.card {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6vw;
  height: 10vh;
  font-weight: 900;
}

.selected {
  animation: beat 0.3s infinite alternate;
  transform-origin: center;
}

@keyframes beat {
  to {
    transform: scale(1.1);
  }
}
